# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
db.sqlite3
/media/
/static/

# Node.js / Next.js
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Entorno
.env
.env.local
.env.*.local
!.env.example

# IDEs y editores
.vscode/
.idea/
*.swp
*.swo

# Sistema Operativo
.DS_Store
Thumbs.db
._*
